body {
  background-color: #f5f5dd;
}
.square1 {
  background-color: black;
}
.square2 {
  background-color: rgba(0, 0, 0, 0.8);
}
.square3 {
  background-color: rgba(0, 0, 0, 0.5);
}
.square4 {
  background-color: rgba(0, 0, 0, 0.3);
}

div {
  width: 150px;
  height: 150px;
}
